/* ACK site CSS file.
 * Written in 2005 by David Given, dg@cowlark.com.
 * This code is in the public domain.
 *
 * $Source$
 * $State$
 */

.grid {
	border-style: solid;
	border-width: 1px;
	font-size: smaller;
	width: 80%;
	text-align: left;
}

TABLE {
	margin-left: auto;
	margin-right: auto;
}

TH {
	font-size: small;
	font-weight: bold;
}

TD {
	font-size: small;
}

.c {
	text-align: center;
}

/* Main body */

BODY {
	background-color: #FFFFFF;
}

/* Titlebar pane */

.title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 6em;
	border-style: solid;
	border-color: black;
	border-width: 0px 0px 1px 0px;
}
	
.title H1 {
	text-align: right;
	padding-right: 1em;
}

/* Contents pane */

.contents {
	display: block;
	font-size: small;
	float: left;
	top: 6em;
	left: 0px;
	width: 12em;
	padding: 1em;
	width: 10em;
}

/* Main text pane */

.body {
	display: block;
	margin-top: 6em;
	margin-left: 12em;
	padding: 1em;
	border-style: dashed;
	border-color: black;
	border-width: 0px 0px 0px 1px;
}

.body H2 {
	margin: 0;
}

.body > A {
	position: absolute;
	top: 0;
}

/* Footer */

.footer {
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-color: black;
	border-width: 1px 0px 0px 0px;
}


/* Revision history
 * $Log$
 *
 * vim: set ts=2 sw=2: */
